<div class="clothes-detail">
	<div class="galleryWrap">
		<div id="slider" class="swipe">
			<div class="swipe-wrap" ng-style="listposition">
				<div ng-repeat="img in item.allImgPaths" data-ng-init="init()">
					<img ng-src="{{img}}" class="mainImg" />
				</div>
			</div>
		</div>
		<ul class="galleryNav clearfix">
			<li data-ng-init="init()" ng-repeat="img in item.allImgPaths" ng-click="scrollTo($index)" class="dot" ng-class="{firstDot: $index == 0}">•</li>
		</ul>
	</div>
	<div class="detail-info">
		<h1>{{item.name}}</h1>
		<h2>{{item.designer}}</h2>
		<h3>${{item.price}}</h3>
		{{item.description}}
	</div>
</div>